In [2]:
#Input from user, Default argument to a function, String, List, Tuple & Dictionary

In [3]:
#Taking input from user

In [4]:
print("Enter two numbers : ")
a= input()
b= input()
c=a+b
print(c)

Enter two numbers :
2
3
23

In [5]:
#input returns String
a= int(input("Enter a : "))
b= int(input("Enter b : "))
print("result is : ",a+b)

Enter a : 2
Enter b : 5
result is :  7

In [6]:
#Default argument - If user provide insufficient arguments to the method, it will take the default value.
def avg(num1, num2, num3):
    avg = (num1+num2+num3)/3
    print(avg)
    
avg(1,2,3)

2.0

In [7]:
avg(1,2) #will throw an error for parameter

TypeError: avg() missing 1 required positional argument: 'num3'

In [15]:
#To resolve above using default argument concept
def avg(num1=1, num2=2, num3=0):
    avg = (num1+num2+num3)/3
    print(avg)
    

avg()
avg(11,32)
avg(num1=10,num3=11) #No middle argument

1.0
14.333333333333334
7.666666666666667

# String 
#String is a collection of characters

In [17]:
s= "Darshan"
type(s)

str

In [19]:
s[-1]

'n'

In [20]:
s[-1:-3]

''

In [21]:
s[-3:-1]

'ha'

In [24]:
#String slicing
s='Machine Learning'

In [25]:
print(s[1:5])
print(s[:5])
print(s[5:])

achi
Machi
ne Learning

In [26]:
s[-3:]

'ing'

In [27]:
#Reverse String
print(s[::-1])

gninraeL enihcaM

In [28]:
print(s[-8:-3])

Learn

In [29]:
#Various String functions
s1="Hello World"
s2="Machine Learning"
s3="Darshan"
print(s1+s2)#Concatinet
print(s3*3)#Repitition
print(s2.swapcase())
print(s1.lower())
print(s3.upper())

Hello WorldMachine Learning
DarshanDarshanDarshan
mACHINE lEARNING
hello world
DARSHAN

In [30]:
#max() & min() works with ASCII value. Like A=65, a=97: So, A<a 
print(max(s3))
print(min(s3))

s
D

In [31]:
print(s1.isdigit()) #Checks weather it is pure didgit or not.

False

In [32]:
# First letter of the sentece to be capitalized & others to be small
s="an apple s dAy keeps the doctor awaY"
print(s.capitalize())

An apple s day keeps the doctor away

In [33]:
#Length of the String
print(len(s))

36

In [35]:
#Replace
print(s.replace('a','x')) #See the result - it could not replace 'A'

xn xpple s dAy keeps the doctor xwxY

# in and not in operator

In [37]:
s='Machine'
'M' in s

True

In [40]:
for i in s:
    print(i, end=' ')

M a c h i n e

# Strings are immutable, means you can not change the existing String

In [43]:
s='Nidarshan'
s[2]='x'
print(s)

TypeError: 'str' object does not support item assignment

In [44]:
#Find of String
s="Doctorate of Philosophy"
s.find('c')

2

In [45]:
#find(str, begin, end)
#If no character found, will return -1
s.find('t',4,9)

7

In [47]:
s.find('h',5) #Will start searching from 5th index of the String

14

In [49]:
s="xyz99"
s.isalpha() #Will be True iff String is pure alphabate

False

# Palindrom

In [56]:
s="malayalam"
s1=s[::-1]
if s==s1:
    print("Palindrom")
else:
    print("Not a palindrom")

Palindrom

# List & List of list

In [57]:
l = [1,'A','B','C',3,7]
'C' in l

True

In [59]:
l=[1,2,[100,200,300],22.3,[99,100,[44,32],21],76]
print(l)

[1, 2, [100, 200, 300], 22.3, [99, 100, [44, 32], 21], 76]

In [60]:
print(l[2][1])

200

In [61]:
print(l[2])

[100, 200, 300]

In [62]:
print(l[4][2])

[44, 32]

In [64]:
print(l[4][2][1])

32

In [66]:
l.remove(9) #If no such item available in list, it will thorw error

ValueError: list.remove(x): x not in list

In [70]:
#deleting element of a list 
del l[1]
del l[1]
print(l)

[1, 22.3, [99, 100, [44, 32], 21], 76]

In [68]:
#deleting element of a list which is not available
del l[9] #If no such item available in list, it will thorw error

IndexError: list assignment index out of range

In [72]:
#List concat
l1=[1,2,3]
l2=[4,5,6]
l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 6]

In [73]:
#Pop - Returns the last value & remove it
s=[1, 2, 3, 4, 5, 6]
s.pop()

6

In [74]:
print(s)

[1, 2, 3, 4, 5]

In [75]:
l1=[3,2,1,5,4]
print(l1)
print(l1[:]) # Same as print(l1)
print(min(l1))
print(max(l1))
l1.insert(2,999) # at index location 2 insert 999
print(l1)
l1.append(777) # appends the value at last
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[1, 2, 3, 4, 5, 777, 999]
[999, 777, 5, 4, 3, 2, 1]
[]

# * means repetition

In [77]:
[0]*5

[0, 0, 0, 0, 0]

In [78]:
[1,'Nitesh Nidarshan',5]*3

[1, 'Nitesh Nidarshan', 5, 1, 'Nitesh Nidarshan', 5, 1, 'Nitesh Nidarshan', 5]

# tuple of tuple
# tuples are similar to the List but in tuples, we can not change the element after assignment [Tuples are immutable] 

## each value in tuples are called an item

In [71]:
t=(1, 2, (100, 200, 300), 22.3, (99, 100, (44, 32), 21), 76)
200 in t
print(t)
print(t[2])
print(t[4][2])
print(t[4][2][1])

(1, 2, (100, 200, 300), 22.3, (99, 100, (44, 32), 21), 76)
(100, 200, 300)
(44, 32)
32

In [80]:
## There are two ways to initialize an empty tuple. You can initialize an empty 
# tuple by having () with no values in them.

In [81]:
# Way 1
emptyTuple = ()

In [82]:
# Way 2
emptyTuple = tuple()

In [83]:
#  A tuple with values can be initialized by making a sequence of values separated by commas.

In [84]:
# way 1
z = (3, 7, 4, 2)

In [85]:
# way 2 (tuples can also can be created without parenthesis)
z = 3, 7, 4, 2

# It is important to keep in mind that if you want to create a tuple containing only one value, you need a trailing comma after your item.

# It is beacause (parenthesis) is considered in mathematical PEMDAS

In [86]:
#  tuple with one value
tup1 = ('Michael',)

In [87]:
# tuple with one value
tup2 = 'Michael',

In [88]:
# This is a string, NOT a tuple.
notTuple = ('Michael')
type(notTuple)

str

In [95]:
t=(1)
print(t)
print(type(t))

1
<class 'int'>

In [94]:
t=(1,)
print(t)
print(type(t))

(1,)
<class 'tuple'>

In [98]:
t1 = (1,2,3)
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [99]:
len(t1)

3

# Variable length arguement
# any number of argument
# and it is considerd inside method a tuple

In [101]:
def var(*args):
    print(args)
    
var(1)
var('x',3,84)
var()

(1,)
('x', 3, 84)
()

# Dictionary/ Associative Array(control of the index is upon to user)

In [102]:
# Python provides a dictionary structure to deal with unordered set of key value pairs.
#
# The key value pair is called as item.
# The value in the dictionary are mutable i.e can be changed.
#
# The key in the dictionary is immutable i.e. can not be changed
#
# It is also called as an associative array because the key works as an Index and they are decided by the user

# list = [] - can be changed
# tuple = () - can not be changed
# Dictionary = {}  - key can not be changed | value can be changed

In [105]:
d = {11:"Comp", 2:"IT", 99:"EXTC"}
print(d)

{11: 'Comp', 2: 'IT', 99: 'EXTC'}

In [108]:
print(d[11])
print(d[99])

Comp
EXTC

In [109]:
del d[11]
print(d)

{2: 'IT', 99: 'EXTC'}

In [110]:
d.clear()
print(d)

{}

In [111]:
d = {11:"Comp", 2:"IT", 99:"EXTC"}
print(99 in d)

True

In [112]:
print(str(d)) # To convert all dict in String

{11: 'Comp', 2: 'IT', 99: 'EXTC'}

In [113]:
print(len(d)) # size of dict

3

In [114]:
print(d.keys())

dict_keys([11, 2, 99])

In [115]:
print(d.values())

dict_values(['Comp', 'IT', 'EXTC'])

In [116]:
d1 = {111:"Computer", 22:"ITs", 999:"EXTCica"}
d.update(d1)
print(d)

{11: 'Comp', 2: 'IT', 99: 'EXTC', 111: 'Computer', 22: 'ITs', 999: 'EXTCica'}

In [117]:
print(d[2])
print(d.get(2))

IT
IT

In [118]:
l=['2',{111:"Computer", 22:"ITs", 999:"EXTCica"}] #List can contain dictionary

In [119]:
print(type(l[1]))

<class 'dict'>

In [120]:
l1=["A",d]

In [123]:
print(l1[1])

{11: 'Comp', 2: 'IT', 99: 'EXTC', 111: 'Computer', 22: 'ITs', 999: 'EXTCica'}

In [126]:
d.add(23:"Twenty Three")

SyntaxError: invalid syntax (<ipython-input-126-748324ecddf8>, line 1)

Assignment_day_5

Q1.
You have seen how powerful dictionary data structure is.
In this assignment, given a number n, you have to write a program that generates a dictionary
d which contains (i,i*i), where i is from 1 to n (both included).
Then you have to just print this dictionary d.
Example:
Input: 4
will give output as
{1: 1, 2: 4, 3: 9, 4: 16}
Input Format:
Take the number n in a single line.
Output Format:
Print the dictionary d in a single line.
Example:
Input:
8
Output:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
Explanation:
Here n is 8, we will start from i=1, hence the first element of the dictionary is (1: 1), as i
becomes 2, the second element of the dictionary becomes (2: 4) and so on.
Hence the output will be {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}.


Question_2 : 
You have also seen how list slicing is performed in python.
In this program, create a list of numbers from 1 to 50 named list_1. The numbers should
be present in the increasing order: Ex list_1 = [1,2,3,4,5,....,50]
i.e. index zero should be 1, index one should be 2, index two should be 3 and so on.
Given an input of two numbers, let's say a and b, you have to print the numbers returned
by the following command
list_1[a:b]
Input:
The first line of input contains two numbers a and b separated by a space.
NOTE: You can take two inputs in a single line using the following command:
a, b = input().split()
Make sure you convert the strings in a and b into integers using the int() command
Output:
Print the numbers in new line
Example:
Input:
2 6
Output:
3
4
5
6
Explanation: In this example, a is 2 and b is 6. The list_1 contains numbers from 1 to 50.
When you perform the operation list_1[a:b] which in this case is, list_1[2:6], it returns a
list of following numbers [3, 4, 5, 6]. Print the elements of this list with each element in a
new line.